@model IEnumerable<CitizenConnect.Models.ReportView>

@{
    ViewBag.Title = "Index";
}


<div class="panel panel-default" id="panelsPanel">
    <div class="panel-heading" id="panelHeading">
        <h3 class="panel-title">Reports</h3>
    </div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportType.ReportTypeName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportType.ReportTypeName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReportID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ReportID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReportID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
