@model CitizenConnect.Models.InterestedVolunteers

@{
    ViewBag.Title = "Details";
    ViewBag.LLL = "Thank you for Joining!!";
}

<h2>Details</h2>

<div>
    <h4>InterestedVolunteers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectView.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectView.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IfInterested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IfInterested)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InterestedUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
